<div class="col-md-6 col-md-offset-3">
  {{outlet}}
  <section>
    <h2>List</h2>
    {{#each model as |person|}}
    <p>
      <span><h1>{{person.name}}</h1> <h2>Kudos:{{kudo}}</h2></span>
      <button class="btn btn-success" {{action "giveKudo" person}}>Give kudo</button>

      <button class="btn btn-danger" {{action "delete" person}}>Delete </button>

    </p>
    {{/each}}
  </section>
</div>
